<a href="https://colab.research.google.com/github/ixovecat/github-hw/blob/main/251019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
c#과제11
nums = list(map(int, input("숫자 5개를 입력 : ").split()))
a = input("문자 1개 입력: ")
nums.append(a)
print("리스트 : ", nums)

숫자 5개를 입력 : 4 5 6 7 8
문자 1개 입력: 2
리스트 :  [4, 5, 6, 7, 8, '2']

In [ ]:
#과제12
nums = list(map(int, input("숫자 5개를 입력 :").split()))
del nums[-2:]
print("리스트 :", nums)

숫자 5개를 입력 :3 2 6 7 9
리스트 : [3, 2, 6]

In [ ]:
#과제13
nums = list(map(int, input("숫자 5개를 입력 :").split()))
for i, n in enumerate(nums,start=101):
  print(f"index {i}: {n}")

숫자 5개를 입력 :3 6 7 8 2
index 101: 3
index 102: 6
index 103: 7
index 104: 8
index 105: 2

In [ ]:
#과제14
a = [10,20,30,40,30,20,10]
count_20 = a.count(20)
print("숫자 20의 개수:", count_20)

숫자 20의 개수: 2

In [ ]:
#과제15
nums = list(map(int, input("숫자 10개를 입력 :").split()))
print("최솟값:", min(nums))
print("최댓값",max(nums))

숫자 10개를 입력 :2 5 6 7 8 3 4 6 8 2
최솟값: 2
최댓값 8

In [ ]:
#과제16
nums = list(map(int, input("숫자 10개를 입력 :").split()))
min_val = min(nums)
max_val = max(nums)
cut = [x for x in nums if x != min_val and x != max_val]
print("최저값과 최고값을 제외한 합:",sum(cut))

숫자 10개를 입력 :1 2 3 4 5 6 7 8 9 0
최저값과 최고값을 제외한 합: 36

In [ ]:
#과제17
a = [10,20,30,40,30,20,10]
a = [ x for x in a if x != 20]
print("20 삭제 후 리스트:", a)

20 삭제 후 리스트: [10, 30, 40, 30, 10]

In [ ]:
#과제18
lst = [i for i in range(1,6)]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
#과제19
odds = [i for in range(1,21) if i % 2 != 0]
print(odds)

In [ ]:
#과제20
start,end = map(int, input("정수 두 개를 입력하세요").split())
powers = [2 ** i for i in range(start, end)]
print(powers)

정수 두 개를 입력하세요1 24
[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576, 2097152, 4194304, 8388608]

In [ ]:
#과제21
s = input("문자열 입력:")
result = s.replace("Hello","Hi")
print(result)

문자열 입력:Hello, world!
Hi, world!

In [ ]:
#과제22
raw = input("문자 4개를 입력하세요:").strip()
parts = raw.split()
if len(parts) >= 4:
 items = parts[:4]
else:
  items = list(raw)[:4]
print("/".join(items))

문자 4개를 입력하세요:안녕하세요 저는 기니피그를 좋아합니다
안녕하세요/저는/기니피그를/좋아합니다

In [ ]:
#과제23
family = input("성(영문) 입력:").strip()
family_lower = family.lower()
print(family_lower.rjust(10))

성(영문) 입력:baek
      baek

In [ ]:
#과제24
raw = input("가격들을 세미콜론(;)으로 한줄로 입력:")
tokens = [t.strip() for t in raw.split(";") if t.strip() != ""]
prices = [ ]
for t in tokens:
    try:
      prices.append(int(t))
    except ValueError:
      pass
prices.sort(reverse=True)

for p in prices:
  print(str(p).rjust(9))

가격들을 세미콜론(;)으로 한줄로 입력:51994;4444;5555;7777;33322;88987;14500
    88987
    51994
    33322
    14500
     7777
     5555
     4444