<a href="https://colab.research.google.com/github/ixovecat/github-hw/blob/main/251124.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#39
def print_odds(n):
    for i in range(n + 1):
        if i % 2 == 1:
            print(i)

num = int(input("양수 입력: "))
print_odds(num)

양수 입력: 3
1
3

In [4]:
#40
def print_if_multiple_of_3(n):
    if n % 3 == 0:
        print(n)

num = int(input("숫자 입력: "))
print_if_multiple_of_3(num)

숫자 입력: 36
36

In [5]:
#41
def get_max_min(a, b, c, d):
    scores = [a, b, c, d]
    return max(scores), min(scores)

a, b, c, d = map(int, input("점수 4개 입력: ").split())
max_score, min_score = get_max_min(a, b, c, d)
print("최대값:", max_score)
print("최소값:", min_score)

점수 4개 입력: 55 76 89 96
최대값: 96
최소값: 55

In [6]:
#42
def print_odds(n):
    for i in range(n + 1):
        if i % 2 == 1:
            print(i)

num = int(input("양수 입력: "))
print_odds(num)

양수 입력: 78
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77

In [8]:
#43
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

n = int(input("정수 n 입력: "))
print(factorial(n))

정수 n 입력: 5
120

In [10]:
#44
def sum_over_30(j):
    total = 0
    for i in range(2, 10):
        if i * j >= 30:
            total += i * j
    return total

j = int(input("양수 j 입력: "))
print(sum_over_30(j))

양수 j 입력: 12
504

In [11]:
#45
def cumulative_sum(lst):
    total = 0
    for x in lst:
        total += x
    return total

a = [1, 2, 3, 4, 5]
print(cumulative_sum(a))

15