<a href="https://colab.research.google.com/github/ixovecat/github-hw/blob/main/251109.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#25
keys = input().split()
values = list(map(int,input().split()))

data = dict(zip(keys, values))
result = {k: data[k] for k in list(data.keys())[1::2]}

print(result)

alpha bravo Charlie delta echo foxtrot golt
30 40 50 60 70 80 90
{'bravo': 40, 'delta': 60, 'foxtrot': 80}

In [2]:
#26
park = {'korean': 94, 'english': 91, 'mathematics':89, 'science':83}

print('english:',park['english'])
print('science:',park['science'])

english: 91
science: 83

In [6]:
#27
kim = {'korean': 94,'english': 91,'mathematics': 89,'science':83}
for key in kim:
    kim[key] = 100
print(kim)

{'korean': 100, 'english': 100, 'mathematics': 100, 'science': 100}

In [11]:
#28
lee = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}

if 'english' in lee:
   del lee['english']
print(lee)

{'korean': 94, 'mathematics': 89, 'science': 83}

In [12]:
#29
lim = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}

for key, value in lim.items():
    print(key, value)

korean 94
english 91
mathematics 89
science 83

In [13]:
#30
choi = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}

resuit = {k:v for k,v in choi.items() if v >= 90}
print(resuit.keys())

dict_keys(['korean', 'english'])

In [14]:
#31
yoo = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}
avg = sum(yoo.values()) / len(yoo)
print('평균:',avg)

평균: 89.25